
    <div class="container">
      <div class="row">
        <hr />
      
        <div class="col">
          <figure class="text-center">
            <blockquote class="blockquote">
              <div class="card">
                <div class="card  bg-info">
                  <h2 class="card-subtitle  mb-2">
                    Encarga tu sistema a Max: 
                  </h2>
                  <h7 class="card-text text-light" > Fono: +569 8257 4971,   Correo:max82574971@gmail.com,   Los Talaveras 978-B,Ñuñoa Chile </h7>					  
				         
                  <a href="" class="btn btn-outline-primary">Contacto</a>
                </div>
              </div>
            </blockquote>
        </div>
      </div>
    </div>
